*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}

img {
    display: inline-block;
}

.wrapper {
    padding: 2rem;
    @media screen and (min-width: 1024px) {
        padding: 4rem 6rem;
    }
}

.bookmark-content {
    width: 100%;
    position: relative;
    height: auto;
    padding: 0.7rem;
}